.DS_Store
pom.xml
mvnw
mvnw.cmd
.mvn/
/cw-stag/config/
/cw-stag/libs/

# Maven target directory
/cw-db/target/
/cw-stag/target/


# Compiled bytecode
*.class

# Maven build files
release.properties
dependency-reduced-pom.xml

# Databases content
/cw-db/databases/

# IntelliJ IDEA
.idea/


# Temporary files
*.log
*.tmp

# Temporary directories
temp/


