.DS_Store
mvnw
/cw-stag/libs/

# Maven target directory
/cw-db/target/
/cw-stag/target/


# Compiled bytecode
*.class

# Maven build files
release.properties
dependency-reduced-pom.xml

# Databases content
/cw-db/databases/

# IntelliJ IDEA
.idea/
*.iml

# Temporary files
*.log
*.tmp

# Temporary directories
temp/


